body {
    background-color: white; /* Цвет фона */
    font-family: Arial, sans-serif; /* Шрифт */
    color: #0C3B2E; /* Основной текст */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота вьюпорта */
    margin: 0; /* Убираем отступы */
}

.container {
    text-align: center; /* Центрируем текст */
}

p {
    color: lightgray; /* Цвет параграфов */
}

.button-container {
    margin-top: 20px; /* Отступ сверху для кнопок */
}

.action-button {
    background-color: #6D9773; /* Цвет кнопок */
    color: white; /* Цвет текста кнопок */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопок */
    margin: 10px; /* Отступ между кнопками */
    font-size: 16px; /* Размер шрифта кнопок */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.action-button:hover {
    background-color: #5A7B61; /* Цвет кнопки при наведении */
}
