/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #323030; /* Тёмный фон */
    color: #F9FFE9; /* Светлый текст */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #282828; /* Темный фон для контейнера */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #C68DFE; /* Яркий цвет заголовка */
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Стили для кнопок */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button {
    width: 100%;
    max-width: 250px;
    padding: 12px;
    text-align: center;
    background-color: #C9E956; /* Основной цвет кнопки */
    color: #323030; /* Цвет текста на кнопке */
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #C68DFE; /* Цвет кнопки при наведении */
}

.button:active {
    transform: scale(0.98); /* Легкий эффект нажатия */
}


