<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовое Веб-приложение</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Привет, пользователь!</h1>
    <p>Я тестовое веб-приложение на Flask.</p>

    <h2>О проекте</h2>
    <p>
        Это тестовая страница, которая в будущем станет полезным веб-сервисом для администраторов каналов, а возможно, и не только.
        На данный момент всё находится на этапе идеи и набросков тестового кода.
    </p>

    <h2>Планируемые функции</h2>
    <ul>
        <li>Расчет CPM (по данным вашего канала)</li>
        <li>Полезный набор инструментов, которые будут полезны каждому администратору канала/чата</li>
        <li>Полезные советы и статьи</li>
    </ul>
</body>
</html>

