<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бесплатное улучшение качества изображений</title>
    <meta name="description" content="Продвинутый инструмент для улучшения изображений. Улучшите качество картинки онлайн всего в пару кликов."/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Улучшить изображение</h1>
        <p>Наш инструмент поможет вам улучшить качество изображений с помощью нейросетей, используя передовые технологии для повышения резкости, детализации и яркости.</p>

        <div class="button-container">
            <!-- Форма для загрузки изображения -->
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" style="display: none;" required>
                <button type="button" id="uploadButton" class="button">Выбрать и загрузить изображение</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('uploadButton').addEventListener('click', function() {
            // Кликаем на скрытый input для выбора файла
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function() {
            // Проверяем, выбран ли файл, и отправляем форму
            if (this.files.length > 0) {
                document.getElementById('uploadForm').submit();
            }
        });
    </script>
</body>
</html>
