<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бесплатное улучшение качества изображений</title>
    <meta name="description" content="Продвинутый инструмент для улучшения изображений. Улучшите качество картинки онлайн всего в пару кликов."/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Выберите действие:</p>
        <div class="button-container">
            <button class="action-button">Улучшить качество изображения</button>
            <button class="action-button">Уникализация фото</button>
            <button class="action-button">Изменить название фото</button>
            <button class="action-button">Конвертация фото</button>
        </div>
    </div>
</body>
</html>